{namespace p=Planetflow3\ViewHelpers}
<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">Manage the planet</li>
		<p:menu.item controller="Overview" action="index" icon="icon-home">Overview</p:menu.item>
		<p:menu.item controller="Item" action="index" icon="icon-file">Items</p:menu.item>
		<p:menu.item controller="Channel" action="index" icon="icon-book">Channels</p:menu.item>
		<p:menu.item controller="Category" action="index" icon="icon-tags">Categories</p:menu.item>

		<li class="nav-header">System management</li>
		<li><a href="#"><i class="icon-time"></i> Log</a></li>
		<li><a href="#"><i class="icon-user"></i> Users</a></li>
		<!--
			<li><a href="#"><i class="icon-cog"></i> Settings</a></li>
			<li class="divider"></li>
			<li><a href="#"><i class="icon-flag"></i> Help</a></li>
		-->
	</ul>
</div>
