/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: 
 */

@font-face {
    font-family: 'Share-Regular';
    src: url('share_regular-webfont.eot');
    src: url('share_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('share_regular-webfont.woff') format('woff'),
         url('share_regular-webfont.ttf') format('truetype'),
         url('share_regular-webfont.svg#Share-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #99011e; /* Old browsers */
	background: -moz-linear-gradient(top, #700016 0%, #99011e 200px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#700016), color-stop(200px,#99011e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #700016 0%,#99011e 200px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #700016 0%,#99011e 200px); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #700016 0%,#99011e 200px); /* IE10+ */
	background: linear-gradient(top, #700016 0%,#99011e 200px); /* W3C */

	text-align: center;
}

#container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto 0;
	text-align: left;
}
#main {
	background-color: #ffffff;
	-moz-border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	box-shadow: 0px 0px 10px #501;
}
header {
	font-family: 'Share-Regular';
}
header h1 {
	font-size: 350%;
	font-weight: normal;
	color: #ffffff;
	text-shadow: 0px 0px 6px #501;
	margin: 50px 0 0 40px;
}
header a, header a:hover, header a:visited {
	color: #E56508;
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
}
header p {
	margin: -2px 0 20px 60px;
	color: #200;
	text-shadow: 1px 1px 1px #a02;
	font-size: 130%;
}
header p .definition {
	font-weight: bold;
}

article.item {
	padding: 40px 40px 0 40px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #ccc;

	line-height: 1.5em;
	font-family: Georgia,'Times New Roman',times,serif;
	font-size: 110%;

	background: url('../Images/article-background.gif') left top repeat-x;
}
article.item:first-child {
	background: none;
}

article.item h2 {
	font-family: 'Share-Regular';
	font-size: 200%;
	font-weight: normal;
	line-height: 1em;
	color: #333;
	margin-bottom: 8px;
}
article.item h2 a {
	color: #333;
	text-decoration: none;
}
article.item h2 a:hover {
	color: #444;
}

article .headline {
	margin-bottom: 18px;
}
article .headline .channel, article .headline .date {
    font-family: Arial,Helvetica,sans-serif;
}
article .headline .date {
	font-family: 'Share-Regular';
	margin-right: 5px;
	color: #777;
}
article .headline .channel {
	padding: 2px 10px 2px 10px;
	background: #bbb;
	color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-decoration: none;
	font-size: 90%;
}
article .headline .channel:hover {
	background: #E56508;
}
article b, article strong {
	font-weight: bold;
}
article p {
	margin-bottom: 0.5em;
}
article ul, ol {
	margin-top: 0.5em;
}
article li {
	margin-bottom: 0.5em;
}
article pre {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 2px 8px;
	background: #555;
	color: #fff;
}
article .more {
	margin-top: 1em;
}
article .more a {
	color: #333;
}
#main .pagebrowser {
	margin-top: 10px;
	height: 30px;
	text-align: center;
}
#infscr-loading {
	margin: 20px 0;
	height: 50px;
}

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

