<f:layout name="Default" />

<f:section name="main">
	<h2>Login</h2>
	<f:form class="login" action="authenticate" >
		<f:flashMessages class="errorMessages" />
		<div class="fields">
			<label class="username">Username</label>
			<input type="text" name="TYPO3[FLOW3][Security][Authentication][Token][UsernamePassword][username]" id="username" tabindex="1" {f:if(condition:'{username}', then: 'tabindex="2"', else:'autofocus="autofocus"')} value="{username}" />
		</div>
		<div class="fields">
			<label class="password">Password</label>
			<input class="active" type="password" name="TYPO3[FLOW3][Security][Authentication][Token][UsernamePassword][password]" id="password" {f:if(condition:'{username}', then:'autofocus="autofocus"', else: 'tabindex="2"')} />
		</div>
		<div class="actions">
			<f:form.submit value="Login" />
		</div>
	</f:form>
</f:section>
