<f:layout name="Bootstrap" />

<f:section name="Title">Login</f:section>

<f:section name="Body">
	<div id="login">
		<div class="container container-content">
			<div class="content">
				<f:render partial="Shared/FlashMessages.html" />
				<div class="row">
					<div class="login-form">
						<h2>Login</h2>
						<f:form action="authenticate" method="post">
							<fieldset>
								<div class="clearfix">
									<f:form.textfield name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][username]" placeholder="Username" />
								</div>
								<div class="clearfix">
									<f:form.password name="__authentication[TYPO3][FLOW3][Security][Authentication][Token][UsernamePassword][password]" additionalAttributes="{placeholder: 'Password'}" />
								</div>
								<button class="btn btn-primary" type="submit">Sign in</button>
							</fieldset>
						</f:form>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:section>
