<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <f:base />
  <title>planetflow3 - FLOW3 blogs and buzz</title>
  <meta name="description" content="A planet full of FLOW3 blogs and buzz.">
  <meta name="author" content="Christopher Hlubek - networkteam GmbH">

  <link rel="alternate" type="application/rss+xml" title="planetflow3 - RSS" href="{f:uri.action(controller: 'standard', action: 'feed', arguments: {language: language}, format: 'xml', absolute: 'true')}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="{f:uri.resource(path: 'Media/Stylesheets/style.css')}">
  <script src="{f:uri.resource(path: 'Media/JavaScripts/modernizr-1.7.min.js')}"></script>
</head>

<body>
	<div id="container">
		<header>
			<h1><f:link.action controller="Standard" action="index">planetflow3</f:link.action></h1>
			<p>
				<span class="definition">|ˈplanit,flōˈθrē| metablog</span> A planet full of FLOW3 blogs and buzz.
				Powered by <a href="http://www.flow3.org">FLOW3</a>.
			</p>
			<div id="metamenu">
				<!--
				<a href="#">Suggest a channel</a>
				<f:link.action controller="Login" action="index">Login</f:link.action>
				-->
				<a href="#imprint" class="imprint">Imprint</a>
			</div>
		</header>
		<div id="main" role="main">
			<f:render section="main" />
		</div>
		<div id="imprint">
			<h2>Imprint / Impressum</h2>
			<p>
				This website is operated and maintained by:
			</p>
			<p>
				networkteam GmbH<br/>
				Kleiner Kuhberg 42<br/>
				24103 Kiel<br/>
				Germany<br/>
				info@networkteam.com<br/>
				+49 431 5300600
			</p>
		</div>
	</div>

	<script src="{f:uri.resource(path: 'Media/JavaScripts/jquery-1.5.1.min.js')}"></script>
	<script src="{f:uri.resource(path: 'Media/JavaScripts/jquery.infinitescroll.min.js')}"></script>
	<script src="{f:uri.resource(path: 'Media/JavaScripts/script.js')}"></script>
	<script src="https://apis.google.com/js/plusone.js"></script>
</body>
</html>