{namespace p=Planetflow3\ViewHelpers}
<f:layout name="Backend" />

<f:section name="Title">Items</f:section>

<f:section name="Content">
	<div class="page-header">
		<h1>Items <small>Manage posts fetched from channels</small></h1>
	</div>

	<f:form action="index" method="post" class="well form-inline" name="filter" object="{filter}">
		<f:form.select property="channel" options="{channels -> p:options(prependBlank: '- All channels -')}" optionLabelField="name" />
		<f:form.select property="category" options="{categories -> p:options(prependBlank: ' - All categories -')}" optionLabelField="name" additionalAttributes="{placeholder: 'Please select'}" />
		<f:form.submit class="btn" value="Filter" />
	</f:form>

	<p:widget.paginate objects="{items}" as="paginatedItems" configuration="{insertAbove: 1, itemsPerPage: 20, maximumNumberOfLinks: 10}">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>Title</th>
			</tr>
		</thead>
		<tbody>
		<f:for each="{paginatedItems}" as="item">
			<tr>
				<td width="70">
					{item.publicationDate -> f:format.date()}
				</td>
				<td>
					<span class="label">{item.channel.name}</span>
					<f:if condition="{item.language}">
						<f:then>
							<span class="label label-success">{item.language -> p:format.transform(case: 'upper')}</span>
						</f:then>
						<f:else>
							<span class="label label-important">No language assigned!</span>
						</f:else>
					</f:if>
					<strong>{item.title}</strong>
					<f:if condition="{item.disabled}">
						<span class="label label-inverse">Disabled</span>
					</f:if><br/>
					<f:for each="{item.categories}" as="category">
						<span class="label label-info">{category.name}</span>
					</f:for>
				</td>
				<td width="150">
					<f:link.action action="edit" arguments="{item: item}" class="btn btn-small"><i class="icon-pencil icon-black"></i> Edit</f:link.action>
					<f:if condition="{item.disabled}">
						<f:then>
							<f:link.action action="enable" arguments="{item: item}" class="btn btn-small"><i class="icon-eye-open icon-black"></i> Enable</f:link.action>
						</f:then>
						<f:else>
							<f:link.action action="disable" arguments="{item: item}" class="btn btn-small"><i class="icon-eye-close icon-black"></i> Disable</f:link.action>
						</f:else>
					</f:if>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>
	</p:widget.paginate>
</f:section>
