{namespace p=Planetflow3\ViewHelpers}
<f:layout name="Backend" />

<f:section name="Title">Edit channel</f:section>

<f:section name="Content">
	<div class="page-header">
		<h1>Edit channel</h1>
	</div>
	<f:form class="form-horizontal" action="update" name="channel" object="{channel}">
		<fieldset>
			<legend>Channel <strong>{channel.name}</strong></legend>
			<f:render partial="Channel/Form" arguments="{_all}" />
			<div class="form-actions">
				<f:form.submit value="Update" class="btn btn-primary" />
				<f:link.action action="index" class="btn">Cancel</f:link.action>
			</div>
		</fieldset>
	</f:form>
</f:section>
