{namespace p=Planetflow3\ViewHelpers}
<f:layout name="Backend" />

<f:section name="Title">New category</f:section>

<f:section name="Content">
	<div class="page-header">
		<h1>New category</h1>
	</div>
	<f:form class="form-horizontal" action="create" name="category" object="{category}">
		<fieldset>
			<legend>Category details</legend>

			<p:controlGroup property="name">
				<label class="control-label" for="field-name">Name</label>
				<div class="controls">
					<f:form.textfield property="name" class="span3" id="field-name" />
				</div>
			</p:controlGroup>

			<div class="form-actions">
				<f:form.submit value="Save" class="btn btn-primary" />
				<f:link.action action="index" class="btn">Cancel</f:link.action>
			</div>
		</fieldset>
	</f:form>
</f:section>
