TYPO3:
  TYPO3CR:
    contentTypes:
      'Planetflow3:MetablogPlugin':
        superTypes: ['TYPO3.TYPO3:Plugin']
        label: 'Metablog plugin'
        group: 'Plugins'
        properties:
          package:
            default: Planetflow3
          controller:
            default: Plugin
          action:
            default: items
          itemsPerPage:
            type: integer
            default: 10
            label: 'Items per page'
            category: 'pluginSettings'
  FLOW3:
    security:
      authentication:
        providers:
          AdminInterfaceProvider:
            provider: 'PersistedUsernamePasswordProvider'
            entryPoint: 'WebRedirect'
            entryPointOptions:
              uri: planetflow3/login

Planetflow3:
  log:
    feedLogger:
      backendOptions:
        logFileURL: %FLOW3_PATH_DATA%Logs/Planetflow3_Feed.log
        createParentDirectories: TRUE
        severityThreshold: %LOG_INFO%
        maximumLogFileSize: 1048576
        logFilesToKeep: 1
  frontend:
    view:
      template: NULL
