<f:layout name="Default" />

<f:section name="container">
	<div id="imprint">
		<h2>Imprint</h2>
		<p>
			This website is operated and maintained by:
		</p>
		<p>
			networkteam GmbH<br/>
			Kleiner Kuhberg 42<br/>
			24103 Kiel<br/>
			Germany<br/>
			info@networkteam.com<br/>
			+49 431 5300600
		</p>
	</div>
</f:section>

<f:section name="main">
	<f:for each="{items}" as="item">
		<article class="item">
			<div class="headline">
				<h2><a href="{item.link}">{item.title -> f:raw()}</a></h2>
				<span class="date">{item.publicationDate -> f:format.date(format: "M jS Y")}</span>
				<a class="channel" href="{item.channel.url}">{item.channel.name}</a>
			</div>
			<f:if condition="{item.content}">
			<f:then>
				{item.content -> f:raw()}
			</f:then>
			<f:else>
				{item.description -> f:raw()}
			</f:else>
			</f:if>
			<p class="more">
				<a href="{item.link}">Read full article</a>
			</p>
		</article>
	</f:for>
	<f:if condition="{hasNext}">
		<p class="pagebrowser">
			<f:link.action arguments="{page: nextPage}" class="next">Next</f:link.action>
		</p>
	</f:if>
</f:section>
